<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/cms_styles.css">
         </head>
         
         <body>
             <div class="header">
                acá va el header y menú principal
             </div> 
             
             <?php require_once 'view/' .$vista .'.php';?>
             
             <div class="footer">
                 
                 aca va el footer
             </div>
          
         </body>    
</html>